mixin img(img, alt='image', cls)
  if (ENV === 'development')
    img(src=`../../assets/images/${img}` alt=`${alt}` class=cls)
  if (ENV === 'production')
    img(src=require(`../../assets/images/${img}`) alt=`${alt}` class=cls)

mixin svg(svg, cls)
  svg(class=cls)
    if (ENV === 'development')
      use(href=`../../assets/images/${svg}.svg#${svg}`)
    if (ENV === 'production')
      use(href=require(`../../assets/images/${svg}.svg`))